<div infiniteScroll [infiniteScrollDistance]="2"  (scrolled)="onScroll()">
    <h1 class="mt-3 font-weight-light">Youtube Videos</h1>
    <hr>
    <div class="card-columns">
        <div *ngFor="let video of videos" class="card animated fadeIn">
        <img class="card-img-top" [src]="video.thumbnails.high.url" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{ video.title }}</h5>
            <p class="card-text">
                <strong>Autor:</strong>&nbsp;{{ video.channelTitle }}
            </p>
            <p class="card-text">
                <strong>Publicado:</strong>&nbsp;{{ video.publishedAt | date }}
            </p>
            <button (click)="verVideo( video )" class="btn btn-outline-primary btn-block">
                Ver video
            </button>
        </div>
        </div>
    </div>

    <button 
        [ngClass]="'no-hidden'"
        *ngIf="showGoUpButton" 
        class="btn btn-danger"
        (click)="scrollTop()"
    >
        Subir
    </button>
</div>
